#root {
  margin: 0 auto;
}

.App{
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
  text-align: center;
  background-color: #fdfdfd;
}
.Title{
  font-size: 32px;
  color: #db1234;
  font-weight: 600px;
}

.container{
  display: flex;
  padding: 10px;
  
}

.inputbox{
  margin: 8px;
  padding: 10px;
  width: 40%;
  background-color: #0d0d0d;
}

.subtitle{
  color: #db1234;
}

.plot-btn{
  margin: 8px;
  border-radius:10%;
  width: 100px;
  height: 40px;  
}